beautifulsoup4==4.9.3 
boto3==1.17.30  
bs4==0.0.1 
nameparser==1.0.6
numpy 
pandas 
pdfplumber==0.1.2 
psycopg2==2.8.6 
PyPDF2==1.26.0
pytest 
requests==2.25.1 
selenium 
torch==1.8.1
tqdm==4.59.0 
unidecode==1.2.0 
urllib3==1.26.4
utils==1.0.1 

pip~=20.1.1
