[scraperConfig]
state_abbreviation=AL
database_table_name=us_al_legislation_2003_test
# NOTE: You must have inserted the legislator data into the database before running this script
legislator_table_name=us_al_legislators

[databaseConfig]
db_user=postgres
db_pass=dionysos
db_host=openparl.cia2zobysfwo.us-west-2.rds.amazonaws.com
db_name=openparl